#banner {
  background-color: brown;
}

.text-align {
  text-align: center;
}

.split {
  background: #f5f0e7;
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }
}

.container {
  margin-inline: auto;
  width: min(90%, 95.5rem);
}

#welcome {
  background-color: aqua;
}
