:root {
  clr-primary: #03005e;
  clr-secondary: #707070;
  clr-tertiary: #ff0000;

  ff-primary: 'poppins', serif;
}

body {
  margin: 0%;
  font-family: 'Poppins', sans-serif;
}
/*navigation*/

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

nav a {
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
  color: var(clr-secondary);
  font-family: 'Poppins', sans-serif;
}

nav a:hover {
  color: #03005e;
}

header {
  padding-top: 15px;
  padding-bottom: 20px;
}

.btn-booknow {
  background-color: #03005e;
  padding: 5px 15px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
}

.btn-booknow:hover {
  background-color: aliceblue;
  color: #03005e;
  transition: 0.6s;
}

/*promotion*/

.promotion {
  padding: 20px;
  display: flex;
  margin: 0% 10%;
  font-family: 'Poppins', sans-serif;
}

#promotion-covid {
  color: #ff0000;
}

.promotion-booknow {
  padding-top: 10%;
  margin: 5%;
}

/*destination*/

.destination-promo {
  display: flex;
  justify-content: center;
  margin: 0% 8%;
}

.destination-promo-price {
  background-color: #03005e;
  color: white;
  width: 448px;
  height: 227px;
  text-align: center;
  padding: 0%;
  padding-top: 2%;
  border-radius: 25px;
  margin: 5% 2%;
  box-shadow: 9px 9px 6px #4b28c2;
  transition: 0.6s;
}

.destination-promo-price:hover {
  background-color: #040331;
  color: rgb(187, 255, 0);
  box-shadow: 9px 9px 6px #e5ff00;
}

/*COVID-19 restrictions*/

.restrictions {
  background-color: #ff0000;
  color: white;
  height: 314px;
  display: flex;
}

.restrictions-left {
  margin-left: 10%;
  padding-top: 4%;
  padding-left: 10%;
  padding-right: 3%;
}

.restrictions-right {
  margin-right: 10%;
  padding-top: 6%;
  padding-left: 3%;
  padding-right: 10%;
}
/*Destination-highlights*/

.destination-highlights {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10% 0%;
}

.destination-highlights-img {
  margin: 0% 0.5%;
}

.destination-highlights-img img {
  border-radius: 35px;
}

/*footer*/
.footer-container {
  background-color: #03005e;
  color: white;
  padding-bottom: 4em;
}

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-right: 55px;
}

.footer-heading a {
  color: white;
  text-decoration: none;
}

/*book.html*/

/*banner*/
.banner {
  background-color: #03005e;
  color: white;
  padding: 30px;
  text-align: center;
}

.info {
  display: flex;
  margin: 10%;
}

.info img {
  border-radius: 30px;
}

.form-book {
  display: flex;
  margin: 5%;
  box-shadow: 9px 9px 6px #0b6c84;
  box-shadow: 0px 3px 6px #000000;
  border-radius: 25px;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
}

input[id='destination'] {
  width: 230%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*Experience.html*/

.experience {
  display: flex;
  margin: 10%;
}

.experience img {
  border-radius: 30px;
}

.experience-country {
  margin: 30px;
}

/*Experience.html*/

.banner-contact {
  color: #03005e;
  padding: 30px;
  text-align: center;
}

.form-contact {
  display: flex;
  place-content: center;
}

.form-email {
  padding: 8%;
}

input[type='email'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[id='remarks'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit']:hover {
  background-color: #03005e;
}

input[type='submit'] {
  width: 100%;
  background-color: gray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
